/*Super specific selectors were used in this file to be sure and override any bootstrap madness.*/
body {
  padding-top: 60px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.red {
  border: solid 1px red;
}
.navbar-inverse .navbar-brand {
    color: #bbb;
}

/*ADDED IN*/

.btn:focus {
  outline: none;
}

.input-container {
  float: left;
  width: 48%;
}

form[name="reviewForm"] {
  overflow: hidden;
}

label{
  margin-right: 15px;
}

.button-from-hell {
  padding: 0;
}

.button-from-hell button {
  float: right;
}
